@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using ServerMonitorApp.Reports

<PageTitle>Monitoring Tool</PageTitle>
<CascadingValue Value="Dispatcher">
    <div class="p-0 container-fluid">
        <h1 class="mb-4">Monitoring Tool</h1>
        <div class="row">
            <div class="col-xl-8">
                <MetricsReportView/>
            </div>
            <div class="col-xl-4">
                <MetricsReportSettingsView/>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <MetricsReportLogsView/>
            </div>
        </div>
    </div>
</CascadingValue>

@code {

    [Inject]
    private IDispatcher Dispatcher { get; set; } = default!;

}