@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1 class="h3 mb-3">Database</h1>
<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="card">
            <div class="px-4 pt-4 card-header">
                <div class="mb-0 card-title h5">Connection status <span class="my-2 badge bg-danger">Disconnnected</span></div>
            </div>
            <div class="px-4 pt-2 card-body">
                <i class="bi bi-server btn-outline-danger" style="font-size: 7rem;"></i>
                @*<i class="bi bi-server" style="font-size: 7rem; color: cornflowerblue;"></i>*@
                <p>Failed to connect the database</p>
                <a role="button" href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">

        <div class="card">
            <div class="px-4 pt-4 card-header">
                <div class="mb-0 card-title h5">Statistics</div>
            </div>
            <div class="px-4 pt-2 card-body">
                <p></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="px-4 pt-4 card-header">
                <div class="mb-0 card-title h5">Database settings</div><span class="my-2 badge bg-success">Finished</span></div>
            <div class="px-4 pt-2 card-body">
            </div>
        </div>
    </div>

</div>


@code {

    [CascadingParameter]
    public IDispatcher Dispatcher { get; set; } = default!;

    [Inject]
    public IState<DatabaseReport> State { get; set; } = default!;

    public DatabaseReport Model => State.Value;

    protected override void OnInitialized() {
        base.OnInitialized();
        //Dispatcher.Dispatch(new StartReceivingLogsAction());
    }

    protected override void Dispose(bool disposing) {
        base.Dispose(disposing);
        if (disposing) {
            //Dispatcher.Dispatch(new StopReceivingLogsAction());
        }
    }
}
